{% extends 'base.html.twig' %}

{% block title %}Forecast index{% endblock %}

{% block body %}
    <h1>Forecast index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Celsius</th>
                <th>Wind</th>
                <th>Cloudy</th>
                <th>Amount_of_precipitation</th>
                <th>Probability_of_precipitation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for forecast in forecasts %}
            <tr>
                <td>{{ forecast.id }}</td>
                <td>{{ forecast.date ? forecast.date|date('Y-m-d') : '' }}</td>
                <td>{{ forecast.celsius }}</td>
                <td>{{ forecast.wind }}</td>
                <td>{{ forecast.cloudy }}</td>
                <td>{{ forecast.ammountOfPrecipitation }}</td>
                <td>{{ forecast.propabilityOfPrecipitation }}</td>
                <td>
                    {% if is_granted('ROLE_FORECAST_SHOW') %}
                        <a href="{{ path('app_forecast_show', {'id': forecast.id}) }}">show</a>
                    {% endif %}
                    {% if is_granted('ROLE_FORECAST_EDIT') %}
                        <a href="{{ path('app_forecast_edit', {'id': forecast.id}) }}">edit</a>
                    {% endif %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_MEASUREMENT_NEW') %}
        <a href="{{ path('app_measurement_new') }}">Create new</a>
    {% endif %}
{% endblock %}
